canvas {
    border-radius: 5px;
        background: #FFF;
    
        /* DropShadow */
        box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.11);
}

.signature-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: fit-content;
}
