*{
    scroll-behavior: smooth;
}

body{
    display:flex;
    flex-direction: column;
}

html, body, #app, * {
  font-family: 'Inter', sans-serif !important;
  color: #110D5E;
  font-size: 16px;
}

R.dropdown{
  width: 80%;
  background-color: grey;
  max-height: 2000px;
  margin: auto;
}

h1,h2,h3,h4,h5,a,p,button{
    color: #110D5E;
}



.closed{
  height: 0px;
  overflow: hidden;
}

.checkbox{
    width: 24px;
    height: 24px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    position:relative;
}

/*DROPDOWN*/

.dropDownSectionContainer
{
    display: flex;
    gap: 20px;
}
.dropDownSectionContainer p{
    white-space: nowrap;
}


.fake-select-container {
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.fake-select-trigger {
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
}

.arrow
{
    width: 12px;
    height: 12px;
    transition: transform 0.3s ease;
}

.arrowUp
{
    transform: rotate(180deg);
}


.fake-options-list {
    max-height: 0px;
    transition: all 0.3s ease;
    overflow-y: scroll;
    background: white;
}

.fake-options-list-open
{
    max-height: 70px;
}

/* On rend la barre de scroll minuscule pour que ce soit encore plus dur */
.fake-options-list::-webkit-scrollbar {
    width: 4px;
}

.fake-options-list::-webkit-scrollbar-thumb {
    background: #232b62;
}

.option-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    white-space: nowrap;
    /* Empêche le texte de revenir à la ligne */
}

.option-item-active
{
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    white-space: nowrap;
    background-color: #232b62;
    color:white;
}

.option-item:hover {
    background-color: #e3e3e3;
    color: rgb(0, 0, 0);
}

/* .buttonInnerRect
{
    margin-right: 16px;
    width: 6px;
    background-color: #232b62;
} */

.validateButton{
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    white-space: nowrap;
}

.validateButtonActive{
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    white-space: nowrap;
    background-color: #232b62;
    color:white;
}

/* button {
    width: 20%;
    border: none;
    border-radius: 0px;
    padding: 8px 16px;
    color: rgb(149, 149, 149);
} */

/* .nextButton {
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.nextButtonActive {
    background-color: rgb(35, 43, 98);
    color: white;
    cursor: pointer;
} */


/*=============================================================================*/

.dropdown-sections{
    height: 5000px;
}

.dropdown-title{
    background: linear-gradient(90deg, #FFFFFF 0%, #F7FCFF 32.21%, #F7FCFF 67.31%, #FFFFFF 100%);
    width: 800px;
    margin: auto;
    height: 50px;
    color: #110D5E;
    box-shadow: 0px 4px 17px 0px #0000001C;
    border-radius: 10px;
}

.dropdown{
    width: 800px;
    margin: auto;
}

h1{
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 26px;
}

.dropdown-title span{
    color: #05A3E0;
    padding-right: 12px;
}

.dropdown-content{
    width: 800px;
    max-height: 2000px;
    margin: auto;
    background-color: #F9F9F9;
}

.fake-select-trigger{
    padding-left: 10px;
}

.dropDownSectionContainer{
    width: inherit;
    background-color: #F9F9F9;
    flex: auto;
    flex-direction: column;
}

.dropDownSectionContainer p{
    text-align: center;
}

.form input{
    height: 35px;
    width: 325px;
}

.email-container{
    display: flex;
}

.checkboxContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.content{
    display: flex;
    justify-content: space-around;
}

/* NOUVEAUTés */

.dropdown{
    margin-bottom: 24px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px 20px 20px;
    background-color: #F9F9F9;
}

.centered{
    display: flex;
    justify-content: center;
}


.nextButtonContainer{
    margin-top: 32px;
    width: 100%;
    display:flex;
    justify-content: flex-end;
}
.nextButton{
    padding: 14px 32px;
    border-radius: 5px;
    background: #05A3E0;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.nextButton:hover{
    background: #008ec6;
}

.content{
    gap: 32px;
}

.checkbox{
    border: 1px solid #05A3E0;
    border-radius: 5px;
    margin-bottom: 16px;
}